 ### Question 1
Consider the following Python module:

a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

After importing the module into the interpreter, you execute:

>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

### Answer 1

In [9]:
  
a = 0 # we set global a as 0 in the beginning.

def b(): # funct. b is defined as follows
    global a # from now on, this local a is global a
    a = c(a) # new global a is defined by function c. First run, global a takes value 2, second run 4 and third run it takes 6.

def c(a):
    return a + 2 # first step c is 0+2=2. Second run c is 2+2=4, third run c is 4+2=6

b() #
b()
b()
a

6

### Question 2 
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: 

>>> fileLength('midterm.py') 
284 
>>> fileLength('idterm.py') 

Traceback (most recent call last): 
    File "<pyshell#34>", line 1, in <module> 
        fileLength('idterm.py') 
    File "/Users/me/midterm.py", line 3, in fileLength 
        infile = open(filename) 
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: 
    
>>> fileLength('midterm.py') 
358 
>>> fileLength('idterm.py') 
File idterm.py not found.

### Answer 2

In [91]:
def fileLength(filename):
   # 'converts first line of file filename to an integer and prints it'
    try:
        infile = open(filename)
        contains = infile.read()
        length = len(contains)
        print(length)

    except FileNotFoundError: #You can list these exceptions. TEBDEN HATIRLA BUTUN EXCEPTIONLARI TEK TEK TEST ETMISTINIZ
        #print(f"File '{filename}' not found.")
        print("File " + filename + " not found")
fileLength('Filelength.txt')
fileLength('ilelength.txt')

123
File ilelength.txt not found

### Question 3 
Write a class named Marsupial that can be used as shown below: 

>>> m = Marsupial() 
>>> m.put_in_pouch('doll') 
>>> m.put_in_pouch('firetruck') 
>>> m.put_in_pouch('kitten') 
>>> m.pouch_contents() ['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and

c. overloads the __str__ operator so it behaves as shown below.

>>> k = Kangaroo(0,0) 
>>> print(k) I am a Kangaroo located at coordinates (0,0) 
>>> k.put_in_pouch('doll') 
>>> k.put_in_pouch('firetruck') 
>>> k.put_in_pouch('kitten') 
>>> k.pouch_contents() ['doll', 'firetruck', 'kitten'] 
>>> k.jump(1,0) 
>>> k.jump(1,0) 
>>> k.jump(1,0) 
>>> print(k) I am a Kangaroo located at coordinates (3,0)

### Answer 3

In [114]:
class Marsupial():
    
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch
    
    
class Kangaroo(Marsupial):
    
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return (f"I am a Kangaroo located at coordinates ({self.x},{self.y})")

# Marsupial outputs

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())


# Kangaroo outputs

k = Kangaroo(0, 0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

### Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = { 𝑥/2  𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
    { 3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

### Answer 4

In [1]:

def collatz(x):
    print(int(x))
    if x == 1:
        return
    if x % 2 == 0:
        collatz(x=x/2) #recursive
    elif x % 2 == 1:
        collatz(x=3*x+1) #recursive
   
collatz(10)

10
5
16
8
4
2
1

### Question 5 
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. 
>>> binary(0) 0 
>>> binary(1) 1 
>>> binary(3) 11 
>>> binary(9) 1001

### Answer 5

In [4]:
def binary(n):
    if n < 2: #base case where n is either 0 or 1
        print(n, end='') 
    else: #where n is greater or equal to 2
        binary(n//2) #recursive part
        print(n % 2, end='')

binary(9)

1001

### Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [76]:
#Creating DB 

import sqlite3
con = sqlite3.connect('weather_rain_city.db')
cur = con.cursor()
cur.execute("create table Weather (City text, Country text, Season text, Temperature double, Rainfall double)")
con.commit()
con.close()

In [77]:
#inserting values in the table

con=sqlite3.connect('weather_rain_city.db')
cur=con.cursor()
rows = [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Winter', 4.2 , 207.7), ('London', 'United Kingdom', 'Spring', 8.3 , 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
for row in rows:
    cur.execute("insert into Weather values (?,?,?,?,?)", (row[0], row[1], row[2], row[3], row[4]))
con.commit()
con.close()

In [78]:
#All the data

con=sqlite3.connect('weather_rain_city.db')
cur=con.cursor()
cur.execute('select * from Weather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### Answer 8

In [79]:
# 8.a

con=sqlite3.connect('weather_rain_city.db')
cur=con.cursor()
cur.execute("SELECT Temperature FROM Weather")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [80]:
# 8.b

con=sqlite3.connect('weather_rain_city.db')
cur=con.cursor()
cur.execute("SELECT DISTINCT City FROM Weather;")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [81]:
# 8.c

con=sqlite3.connect('weather_rain_city.db')
cur=con.cursor()
cur.execute("SELECT * FROM Weather WHERE Country = 'India';")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [82]:
# 8.d

con=sqlite3.connect('weather_rain_city.db')
cur=con.cursor()
cur.execute("SELECT * FROM Weather WHERE Season = 'Fall';")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [83]:
# 8.e

con=sqlite3.connect('weather_rain_city.db')
cur=con.cursor()
cur.execute("SELECT City, Country, Season FROM Weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400;")
cur.fetchall()

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

In [84]:
# 8.f

con=sqlite3.connect('weather_rain_city.db')
cur=con.cursor()
cur.execute("SELECT City, Country FROM Weather WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature);")  #Default is ascending
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [85]:
# 8.g

con=sqlite3.connect('weather_rain_city.db')
cur=con.cursor()
cur.execute("SELECT SUM(Rainfall) FROM Weather WHERE City = 'Cairo'; ")
cur.fetchall()

[(27.6,)]

In [86]:
# 8.h

con=sqlite3.connect('weather_rain_city.db')
cur=con.cursor()
cur.execute("SELECT Season, SUM(Rainfall) FROM Weather GROUP BY Season;")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

### Question 9
Suppose list words is defined as follows:

>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

### Answer 9

In [5]:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

    
# a 
all_upper_words = [word.upper() for word in words]
print("a)")
print(all_upper_words)

# b
all_lower_words = [word.lower() for word in words]
print("b)")
print(all_lower_words)

# c
lengths_of_list = [len(word) for word in words]
print("c)")
print(lengths_of_list)

# d
word_info_from_previous_codes = [[word.upper(), word.lower(), len(word)] for word in words]
print("d)")
print(word_info_from_previous_codes)

# e
long_words = [word for word in words if len(word) >= 4]
print("e)")
print(long_words)

a)
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b)
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c)
[3, 5, 5, 3, 5, 4, 3, 4, 3]
d)
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e)
['quick', 'brown', 'jumps', 'over', 'lazy']